/* Shared Property */
* {
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Merriweather', serif;
}

.primary-button {
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: block;
    margin: auto;
}

/* Header styles */
header {
    background: #FFF;
}

.container {
    background-image: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)), url('../images/Banner\ Image.png');
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto;
    border-radius: 16px;
}

.hny {
    padding-top: 177px;
    padding-bottom: 16px;
}

.hny h4 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.header-title {
    padding-bottom: 177px;
}

.header-title h2 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding: 13px;
}

/* Main Styles */
/* Discount Styles */
.discount {
    margin: 100px auto;
    width: 50%;
    max-width: 1600px;
    align-items: center;
}

.discount h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Midnight Party styles */
.mid-party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 82.5%;
    max-width: 1320px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.party-details {
    padding-top: 126px;
    padding-left: 126px;
}

.party-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    margin-right: 55px;
    margin-bottom: 24px;
}

.party-info {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}

.party-image {
    padding: 66px 138px 65px;
    background-blend-mode: multiply;
}

.party-join-btn {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.mid-party button {
    background: none;
    border: none;
    color: white;
    padding: 4px 4px;
}

.place {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding-bottom: 120px;
    background: linear-gradient(rgb(244, 199, 207), white);
}

.time-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.time-info {
    text-align: center;
    margin-bottom: 64px;
}

.header-color {
    color: #F00;
}

/* Gifts Section */

.gifts {
    width: 82.5%;
    max-width: 1320px;
    margin: 120px auto;
}

.gifts h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.gifts h4 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 22px;
}

.gifts p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin-bottom: 48px;
}

.gift-pics {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-bottom: 120px;
}


.gifts .gift-pics img {
    width: 424px;
    height: 450px;
    border: none;
    border-radius: 16px;
}

/* Subscribe Styles */
.subscribe {
    width: 82.5%;
    max-width: 1320px;
    margin: 0px auto;
    background-color: rgba(255, 0, 0, 0.05);
    border: none;
    border-radius: 16px;
    padding: 80px 212px;
    align-items: center;
    margin-bottom: 120px;
}

.newsletter {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}



.subscribe h3 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 22px;
}

.subscribe p {
    align-items: center;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 48px;
    padding-left: 212px;
    padding-right: 212px;
}

.btn-subs {
    display: flex;
    gap: 0px;
}

.user input{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border: none;
    margin-left: 124px;
    border-radius: 50px 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 25px 477px 25px 30px;
}

.sub input{
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border: none;
    border-radius: 0px 50px 50px 0px;
    padding: 24px 56px;
}